{% extends 'public/base.html' %}
{% load static %}
{% block content %}
  <div class="hero-section box">
    <div class="container">
      <div class="wrapper-box">
        <div class="w-layout-grid feature-grid-3">
          <div>
            <div class="tagline c-b-neutral-30 c-t-neutral-100">About Novamacro</div>
            <h1 class="heading xl">Local Roots, Global <span class="text-span-5">Vision</span></h1>
            <p class="body-text m s-m-b-0">Founded in 2017 in the heart of the Memphis area, Novamacro LLC bridges the gap between cutting-edge technology and the practical needs of growing businesses. Our founder brings a decade of experience in emerging technologies, having shaped digital transformation strategies for Fortune 500 companies. Now, we&#x27;re on a mission to bring that enterprise-level expertise to small and medium-sized businesses, because we believe every company deserves access to game-changing technology solutions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-section c-b-neutral-20">
    <div class="container">
      <div class="wrapper-m">
        <div class="section-title">
          <div class="tagline c-b-neutral-30 c-t-neutral-100">What makes us different</div>
          <h2 class="heading l">Why Choose Novamacro?</h2>
          <p class="body-text m">In a world where technology moves at lightning speed, you need a partner who can translate complex innovations into practical business solutions. We don&#x27;t just implement technology... We engineer success stories. Our approach is simple: we listen first, recommend what truly matters, and stand by your side throughout your digital journey. When you choose Novamacro, you&#x27;re not just getting a service provider; you&#x27;re gaining a dedicated technology partner committed to your growth.</p>
        </div>
        <div class="w-layout-grid l-g-2-col">
          <a href="#" class="card card-horizontal w-inline-block">
            <div class="feature-icon-wrapper">
              <div class="material-icons feature-icon">near_me</div>
            </div>
            <div class="card-horizontal-text-wrapper">
              <h3 class="heading xs"><strong>Enterprise Experience, Local Understanding</strong>:</h3>
              <p class="body-text m s-m-b-0">We combine Fortune 500 insights with a deep understanding of local business needs</p>
            </div>
          </a>
          <a href="#" class="card card-horizontal w-inline-block">
            <div class="feature-icon-wrapper">
              <div class="material-icons feature-icon">tour</div>
            </div>
            <div class="card-horizontal-text-wrapper">
              <h3 class="heading xs"><strong>Proven Track Record</strong>:</h3>
              <p class="body-text m s-m-b-0">Since 2017, we&#x27;ve helped businesses across the Mid-South embrace digital transformation</p>
            </div>
          </a>
          <a href="#" class="card card-horizontal w-inline-block">
            <div class="feature-icon-wrapper">
              <div class="material-icons feature-icon">lightbulb<br></div>
            </div>
            <div class="card-horizontal-text-wrapper">
              <h3 class="heading xs"><strong>Practical Innovation</strong>:</h3>
              <p class="body-text m s-m-b-0">Our solutions are built on real-world experience, not theoretical concepts</p>
            </div>
          </a>
          <a href="#" class="card card-horizontal w-inline-block">
            <div class="feature-icon-wrapper">
              <div class="material-icons feature-icon">location_pin</div>
            </div>
            <div class="card-horizontal-text-wrapper">
              <h3 class="heading xs"><strong>Memphis Proud</strong>:</h3>
              <p class="body-text m s-m-b-0">As a Memphis based company, we understand the unique challenges and opportunities of our business community</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section">
    <div class="container">
      <div class="wrapper-box">
        <div class="section-title centered s-m-0">
          <div class="tagline c-b-neutral-30 c-t-neutral-100">How we Operate</div>
          <h1 class="heading xl">Our Approach</h1>
          <p class="body-text m s-m-b-0">We believe that the best technology solutions aren&#x27;t about the technology at all—they&#x27;re about people, processes, and results. Every recommendation we make, every solution we implement, is filtered through one simple question: &quot;How will this impact your bottom line?&quot;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="cta-section c-b-primary-60">
    <div class="container">
      <div class="wrapper-m">
        <div class="w-layout-grid grid-cta">
          <div class="cta-section-text-wrapper">
            <h2 class="heading l c-t-neutral-10">Connect With Us</h2>
            <p class="body-text m c-t-primary-20 s-m-b-0 sh-m-b-24">Whether you&#x27;re just starting your digital transformation journey or looking to take your technology strategy to the next level, we&#x27;re here to help. Let&#x27;s start a conversation about your business goals and how we can help you achieve them.</p>
          </div>
          <div id="w-node-_185e611e-3437-1db2-e200-01274b1ea85b-8b692c0f" class="ctas-wrapper s-m-0">
            <a href="product.html" class="button medium secondary w-inline-block">
              <div class="button-text">Sign up now</div>
            </a>
            <div class="button-separator"></div>
            <a href="mailto:info@novamacro.net?subject=I%20would%20like%20to%20schedule%20a%20demo" class="button medium ghost w-inline-block">
              <div class="button-text">Schedule a demo</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
