{% extends 'public/base.html' %}
{% load static %}
{% block content %}
  <div class="hero-section">
    <div class="container">
      <div class="wrapper-m">
        <div class="w-layout-grid hero-grid-2">
          <div>
            <div class="tagline">Connect with Us</div>
            <h1 class="heading xl">Let&#x27;s Start a <span class="text-span-8">Conversation</span></h1>
            <p class="body-text m">Whether you&#x27;re ready to transform your business or just have questions, we&#x27;re here to help. Choose the communication channel that works best for you.</p>
          </div><img sizes="(max-width: 479px) 100vw, (max-width: 767px) 75vw, (max-width: 991px) 79vw, (max-width: 1279px) 87vw, (max-width: 1439px) 88vw, 1168px" srcset="{% static 'images/shutterstock_2167939705-p-500.jpg' %} 500w, {% static 'images/shutterstock_2167939705-p-800.jpg' %} 800w, {% static 'images/shutterstock_2167939705-p-1080.jpg' %} 1080w, {% static 'images/shutterstock_2167939705-p-1600.jpg' %} 1600w, {% static 'images/shutterstock_2167939705-p-2000.jpg' %} 2000w, {% static 'images/shutterstock_2167939705.jpg' %} 2500w" alt="" src="{% static 'images/shutterstock_2167939705.jpg' %}" class="hero-image">
        </div>
      </div>
    </div>
  </div>
  <div class="contact-section">
    <div class="container">
      <div class="w-layout-grid feature-grid st-p-y-64">
        <div class="feature-content-wrapper left">
          <div>
            <h2 class="heading l">Get in touch</h2>
            <p class="body-text m">Let&#x27;s transform your business with technology solutions that drive real results - schedule a consultation today to discover how we can help you achieve your goals. Whether you&#x27;re looking to streamline operations, improve customer experience, or accelerate growth, our team of experts is ready to guide you through your digital transformation journey.</p>
          </div>
          <h3 class="heading s">Best way to contact</h3>
          <ul role="list" class="w-list-unstyled">
            <li class="icon-list-item"></li>
            <li class="icon-list-item">
              <a href="#" class="contact-link w-inline-block">
                <div class="material-icons icon-left icon-list-item c-t-primary-60">phone</div>
                <div>(901) 444-1025</div>
              </a>
            </li>
            <li class="icon-list-item">
              <a href="#" class="contact-link w-inline-block">
                <div class="material-icons icon-left icon-list-item c-t-primary-60">email</div>
                <div>info@novamacro.net</div>
              </a>
            </li>
          </ul>
        </div><img id="w-node-_2afef4c4-e8cf-3856-b8d9-e239d2019cf2-b0d6dcce" sizes="(max-width: 479px) 66vw, (max-width: 767px) 79vw, (max-width: 991px) 82vw, (max-width: 1279px) 87vw, 1118px" alt="" src="images/871ed362-2f8b-4714-8a2b-1ebecf5cd304.jpg" srcset="images/871ed362-2f8b-4714-8a2b-1ebecf5cd304-p-500.jpg 500w, images/871ed362-2f8b-4714-8a2b-1ebecf5cd304-p-800.jpg 800w, images/871ed362-2f8b-4714-8a2b-1ebecf5cd304-p-1080.jpg 1080w, images/871ed362-2f8b-4714-8a2b-1ebecf5cd304.jpg 1600w" class="contact-image">
      </div>
    </div>
  </div>
  <div class="cards-section">
    <div class="container"></div>
  </div>
  <div class="cta-section">
    <div class="container">
      <div class="wrapper-m">
        <div class="w-layout-grid grid-cta">
          <div class="cta-section-text-wrapper">
            <h2 class="heading l">Schedule a Consultation</h2>
            <p class="body-text m s-m-b-0 sh-m-b-24">Ready to discuss your business needs? Use our online scheduling tool to book a free consultation.</p>
          </div>
          <div id="w-node-_3ae7fa64-dd6d-e68a-46ac-04e99801d220-b0d6dcce" class="ctas-wrapper s-m-0">
            <a href="{% url 'products' %}" class="button medium w-inline-block">
              <div class="button-text">Sign up now</div>
            </a>
            <div class="button-separator"></div>
            <a href="mailto:info@novamacro.net?subject=Scheduling%20a%20Demo" class="button medium secondary w-inline-block">
              <div class="button-text">Schedule a demo</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cta-section c-b-primary-60">
    <div class="container">
      <div class="wrapper-m">
        <div class="w-layout-grid grid-cta">
          <div class="cta-section-text-wrapper">
            <h2 class="heading l c-t-neutral-10">Request a Quote</h2>
            <p class="body-text m c-t-primary-20 s-m-b-0 sh-m-b-24">Know what you need? Send us a quick email.</p>
          </div>
          <div id="w-node-_8fdd3309-b533-7b2e-2a5e-0874888c7c94-b0d6dcce" class="ctas-wrapper s-m-0">
            <a href="mailto:info@novamacro.net?subject=I%20have%20an%20idea!" class="button medium ghost w-inline-block">
              <div class="button-text">Email Us</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}