{% extends 'public/base.html' %}
{% load static %}
{% block content %}
  <div class="hero-section">
    <div class="container">
      <div class="wrapper-box">
        <div class="section-title centered s-m-0">
          <div class="tagline c-b-neutral-30 c-t-neutral-100">Sign Up</div>
          <h1 class="heading xl">Start your digital <span class="c-t-primary-60">transformation</span></h1>
          <p class="body-text m s-m-b-0">Transform your business operations with Novamacro&#x27;s cutting-edge technology solutions, designed specifically for growing companies that want to compete at the next level. Join other successful businesses that have streamlined their workflows, reduced costs, and accelerated growth through our intuitive platform that adapts to your unique needs.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-block w-form">
    <form id="form-5" name="wf-form-Form-5" data-name="Form 5" method="post" class="form" >
        {% csrf_token %}
        {{ form.email }}
        <div class="div-block name">
            {{ form.first_name }}
            {{ form.last_name }}
        </div>
        {{ form.address }}
        <div class="div-block address">
          {{ form.city }}
          {{ form.state_abbr }}
          {{ form.zip_code }}
          {{ form.phone_number }}
        </div>
        {{ form.password1 }}
        {{ form.password2 }}
        <!-- Change this button -->
        <button type="submit" data-wait="Please wait..." class="button medium form-button w-button" onclick="openPaymentWindow('{{ payment_link }}')">Sign up</button>
        <div class="form-footer-links">
          <a href="{% url 'login' %}">Already have an account?</a>
        </div>
    </form>
      {% if form.errors %}
    <div class="w-form-fail" style="display: block;">
      <div>
        {% for field in form %}
          {% for error in field.errors %}
              <div>{{ error }}</div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div>{{ error }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  
  {% if messages %}
  <div class="w-form-done" style="display: block;">
    {% for message in messages %}
      <div>{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
<script>
    function openPaymentWindow(paymentLink) {
        // Submit the form
        document.getElementById('form-5').submit();
        // Open payment link in new window
        if (paymentLink) {
            window.open(paymentLink, '_blank');
        }
    }
</script> 
{% endblock %}